<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/medical-add}" th:object="${medicals}" method="post">
    <br>
    <label for="nameOfMedical">Наименование таблеток</label>
    <input type="text" th:field="*{nameOfMedical}" id="nameOfMedical" placeholder="Наименование таблеток">
    </br>
    <br>
    <label for="numbers">Колличество</label>
    <input type="text" th:field="*{numbers}" id="numbers" placeholder="Колличество">
    </br>
    <br>
    <label for="about">Описание</label>
    <input type="text" th:field="*{about}" id="about" placeholder="Описание">
    </br>
    <br>
    <label for="expirationDate">Срок годности</label>
    <input type="text" th:field="*{expirationDate}" id="expirationDate" placeholder="Срок годности">
    </br>
    <br>
    <input type="submit" value="Добавить препарат">
    </br>
</form>
</body>
</html>