<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Medicals</title>
</head>
<body>
<div th:switch="${medicals}">
    <h2 th:case="null">No medicals found!</h2>
    <div th:case="*">
        <h2>Medicals</h2>
        <table>
            <thead>
            <tr>
                <th>Наименование таблеток</th>
                <th>Колличество</th>
                <th>Описание</th>
                <th>Срок годности</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="oneMedical : ${medicals}">
                <td th:text="${oneMedical.nameOfMedical}"></td>
                <td th:text="${oneMedical.numbers}"></td>
                <td th:text="${oneMedical.about}"></td>
                <td th:text="${oneMedical.expirationDate}"></td>
                <td><a th:href="@{medical-update/{id}(id=${oneMedical.id})}">Изменить</a></td>
                <td><a th:href="@{medical-delete/{id}(id=${oneMedical.id})}">Удалить запись</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/medical-add">Добавть препарат</a></p>
</div>
</body>
</html>